---
interface MenuItem {
  name: string;
  link: string;
}

interface Props {
  title: string;
  items: MenuItem[];
}

const {
  title,
  items
} = Astro.props;
---

<div class="col-span-1">
    <h3 class="text-lg font-semibold mb-4">{title}</h3>
    <nav>
        <ul class="space-y-2">
            {items.map(item => (
              <li><a href={item.link} class="text-body-dark hover:text-white transition-colors">{item.name}</a></li>
            ))}
        </ul>
    </nav>
</div>
