---

interface Category {
  name: string;
  slug: string;
  description?: string;
  icon?: any;
}

interface Props {
    category: Category;
}

const { category } = Astro.props;
---

<span class="px-2 py-1 mr-2 text-sm rounded-sm bg-primary/10 text-primary border-primary border flex items-center justify-center leading-none font-medium">
    {category.icon && (
        <category.icon class="mr-2" />
    )}
    {category.name}
</span>
