---
import { Icon } from 'astro-icon/components'
import type { Category } from '../../data/categories'

interface Props {
    category?: Category;
}

const { category } = Astro.props;
---

<>
{ category && (
<span class="px-2 py-1 mr-2 text-sm rounded-sm bg-primary/10 text-primary border-primary border flex items-center justify-center leading-none font-medium">
    {category.icon && (
        <Icon class="mr-2 w-4 h-4" name={category.icon} />
    )}
    {category.name}
</span>
)}
</>
